*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background: #f3f4f8;
  color:#374049;
}
.back img{
  height: 600px;
  width: 100%;
}
#menu{
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 100;
}
.bar{
  height: 5px;
  width: 100%;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1{
  transform: translateY(-4px);
}
#bar3{
  transform: translateY(4px);
}
.icon #bar1{

  transform: translateY(4px) rotate(-45deg);
}
.icon #bar3{
  transform: translateY(-6px) rotate(45deg);
}
.icon #bar2{
  opacity: 0;
}
.wrapper{
  top: 15px;
  position: fixed;
  left: 20px;
  width: 260px;
  height: 95%;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  border-radius: 25px;
  transition: 0.5s ease;
}
.wrapper.active{
  left: -500px;
}

.wrapper .navbar{
  position: relative;
}
.wrapper .navbar ul{
  padding: 5px 15px;
}
.wrapper .navbar ul .pass-show{
  padding: 30px 40px;
}

.til-1{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px;
  font-style: normal;
  margin-top: 30px;
}
.wrapper .navbar .profile_wrap{
  padding: 25px;
  text-align: center;

}
.wrapper .navbar .profile_wrap .profile_img{
  width: 70px;
  margin: 0 auto 10px;
  display: block;
}
.wrapper .navbar .profile_wrap .profile_img img{
  width: 100%;
}
.wrapper .navbar .profile_wrap .profile_info .name{
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 800;
  color: #23292e;
}
.wrapper .navbar .profile_wrap .profile_info .role{
  font-weight: 600;
  font-size: 15px;
  color: #90959b;
}
.wrapper .navbar ul li a .ic{
  margin-right: 10px;
}


.wrapper .navbar ul li > a{
  display: block;
  position: relative;
  font-size: 15px;
  padding: 17px;
  height: 50px;
  color: #9ca0a5;
  font-weight: 600;
  transition: all 0.6s ease;
}

.wrapper .navbar ul li > a:hover{
  color: blueviolet;
  letter-spacing: 1px;

}
nav .pass-show a{
  color: #9ca0a5;
  transition: all 0.6s ease;    
}
nav .pass-show > a:hover{
  color: blueviolet;
  letter-spacing: 1px;
  transition: all 0.6s ease;
}
nav ul ul{
  display: none;    
}
nav ul .pass-show.show{
  display: block;
  background: #24262b;
  border-radius: 25px;
  transition: 1s ease-in-out;
}
.main-pg{
  top: 15px;
  position: fixed;
  left: 300px;
  right: 200px;
  height: 95%;
  background: rgba(255, 255, 255, 0.187);
  backdrop-filter: blur(5px);
  width: 75%;
  margin:auto;
  text-align: center;
  padding: 50px 50px;
  box-shadow: 0 0 20px 0px rgba(128, 128, 128, 0.246);
  border-radius: 25px;
  overflow: hidden;
  transition: 0.5s ease;
}
.main-pg.active{
  left: 0px;
  right: 10px;
  width: 96%;
}
.main-con{
  top: 5px;
}




